.bg-button {
  background: linear-gradient(
    90deg,
    rgba(92, 137, 224, 1) 0%,
    rgba(41, 92, 192, 1) 100%
  );
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 240px 0 240px 480px;
  border-color: transparent transparent transparent #295bc046;
}

/* Shared login text styles */
.login-intro-text {
  color: #3F3F3F;
  opacity: 0.7;
  font-size: 0.875rem; /* text-sm */
}

.login-instruction-text {
  color: #3F3F3F;
  opacity: 0.7;
  font-size: 0.875rem; /* text-sm */
  white-space: pre-wrap;
  margin-top: 0.25rem; /* mt-1 */
}

