.order-item-table th {
  font-weight: 400;
  opacity: 80%;
  text-align: left;
  font-size: 13px;
  width: 20%;
}

.order-item-table td {
  font-weight: 600;
  font-size: 13px;
}

@media (max-width: 1024px) {

  .order-actions-container {
    flex-direction: column;
    align-items: center;
    gap: 1.25rem; /* 20px */
  }

  .order-content-wrapper {
    width: 100%;
  }

  .order-content-wrapper > div {
    width: 100%;
  }
}